@model BookingHotel.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên phòng:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomName)
        </dd>
        <dt class = "col-sm-2">
            Tên khách hàng:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().Account.name)
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại khách hàng:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().Account.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            Số người: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().Account.Requests.First().guestCount)
        </dd>
        <dt class="col-sm-2">
            Ngày nhận phòng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().Account.Requests.First().dateCheckIn)
        </dd>
        <dt class="col-sm-2">
            Ngày trả phòng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().Account.Requests.First().dateCheckOut)
        </dd>
        <dt class="col-sm-2">
            Thời gian nhận phòng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.First().dateOfReceipt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.roomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
