@model BookingHotel.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accountID)
        </dd>
        <dd class="col-sm-10">
            
        </dd>
        @* <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Desciption</th>
                    <th>Room Left</th>
                </tr>
                @foreach (var item in Model.)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomTypeDetail.desciption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roomLeft)
                        </td>
                    </tr>
                }
            </table>
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.roomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
